{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1>OUR PEOPLE IN CREW</h1>
    <div class="crewmembers">
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/vijay.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">Mr.Vijay</div>
            <div class="designation">FOUNDER</div>
            </div>
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/chrishemsworth.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">Mr.chris hemsworth</div>
            <div class="designation">C.E.O</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/rashmika.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">Ms.rashmika</div>
            <div class="designation">MD</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/poojahegde.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">Ms.pooja hegde</div>
            <div class="designation"> TECHNICAL TEAM </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/nayanthara.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">Ms.nayanthara</div>
            <div class="designation"> DESIGN TEAM </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
            <img src="/static/img/aariarjunan.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">Mr.aari arjunan</div>
            <div class="designation"> MARKETING HEAD </div>
        </div>
    </div>
</div>




{% endblock  %}
